body {
    margin: 10px;
}
.myHeader
{
    display: flex;
    background-color: antiquewhite !important;
}

nav ul{
    display: flex;
}
nav ul li{list-style-type: none;
margin: 5px;}
.aboutMe
{
text-align: center;
}
.paragraphes{
    background-color: black;
    color: white;
    padding: 5px;
}
#bgnBtn{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 0;
}

#bgnBtn:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(212, 184, 184);
    padding: 5px;
    border: 0;
}

.copyright
{
    text-align: center;
    padding-top: 30px;
}

.credits
{
    text-align: center;
    font-size: 13px;
    color: #555;
}

#footer
{
   position:fixed;
   left:0px;
   bottom:0px;
   height: 73px;
   width:100%;
   background:#999;
}
p{
    margin: 10px !important;
    padding: 5px !important;
}
h1{
    margin: 10px !important;
    padding: 5px !important;
}

h2{
    margin: 10px !important;
    padding: 5px !important;
    font-size: medium;
    font-weight: 800;
    margin: 5px;
}

.topWebsites{
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 15px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif
}
a {
    
    color: white;
}
a:hover{
    color: rgb(255, 255, 255);
}
ol{
    margin: 10px !important;
    list-style: decimal !important;
    margin-left: 5px;
}
ul{
    margin: 10px !important;
    margin-left: 5px; 
    list-style: circle !important;
}
li{
    padding: 5px;
}

.workeducation{
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 15px;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif
}